* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --backgroundcolor: #121212;
    --navbarcolor: #E0E0E0;
    --navbarhover: #00FF9C;
    --navbarfont: "Montserrat", sans-serif;
    --textfont: "Roboto", sans-serif;
    --textcolor: #CCCCCC;
    --headingfont: "Inter", sans-serif;
    --footerheadingcolor: #38BDF8;
}

body {
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    font: var(--textfont);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 20px 50px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    top: 0px;
    z-index: 1;
    background-color: var(--backgroundcolor);
}

#logo img {
    height: 100px;
}

.navbar {
    padding: 15px 30px;
}

.nav-links {
    list-style: none;
    font-size: 18px;
    font-family: var(--navbarfont);
    display: flex;
    gap: 50px;
}

.nav-links a {
    display: inline-block;
    color: var(--navbarcolor);
    text-decoration: none;
    transition: all 0.3s ease;
    transform-origin: center;
}

.nav-links a:hover {
    transform: scale(1.2);
    color: var(--navbarhover);
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-evenly;
    color: var(--textcolor);
    font-family: var(--textfont);
    background-color: #0F172A;
    padding: 50px 30px;
}
.footer h4 {
    font-family: var(--headingfont);
    color: var(--footerheadingcolor);
}
/* Logo and Text */
#footer-logo {
    display: flex;
    justify-content: center;
}
#footer-logo img {
    height: 125px;
}
.logo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.desc.heading {
    font-size: 17px;
    font-weight: 500;
    font-family: var(--navbarfont);
    text-align: center;
}
.desc.text {
    font-style: italic;
    text-align: center;
    font-size: 15px;
}
/* Quick Links */
.quick-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quick-links ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.quick-links a {
    text-decoration: none;
    color: var(--textcolor);
    transition: all 0.3s ease;
}
.quick-links a:hover {
    text-decoration: underline;
    color: var(--navbarhover);
}
/* Contact & Social Media */
.contact-social-media {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.social {
    display: flex;
    flex-direction: column;
    gap: 5px;
}